In [1]:
import pandas as pd

In [2]:
# file names
## training
### subject 1-30
train_subject_f = "UCI_HAR_Dataset/train/subject_train.txt"
### features
x_train_f = "UCI_HAR_Dataset/train/X_train.txt"
### classification 
y_train_f = "UCI_HAR_Dataset/train/y_train.txt"

## testing
### subject 1-30
test_subject_f = "UCI_HAR_Dataset/test/subject_test.txt"
### features
x_test_f = "UCI_HAR_Dataset/test/X_test.txt"
### classification 
y_test_f = "UCI_HAR_Dataset/test/y_test.txt"

## inertial signal file example (most likely will not use for project)
#inertia_train_f = "UCI_HAR_Dataset/train/Inertial Signals/body_acc_x_train.txt"
#inertia_train_df=pd.read_fwf(inertia_train_f, header=None)

In [4]:
# training data frames
train_subject_df = pd.read_csv(train_subject_f, sep=' ', header=None)
x_train_df = pd.read_fwf(x_train_f, header=None)
y_train_df = pd.read_csv(y_train_f, sep=' ', header=None)

# testing dataframes
test_subject_df = pd.read_csv(test_subject_f, sep=' ', header=None)
x_test_df = pd.read_fwf(x_test_f, header=None)
y_test_df = pd.read_csv(y_test_f, sep=' ', header=None)

In [5]:
# combine subject information with training/testing data frames
x_train_df.insert(0, "subject", train_subject_df)
x_test_df.insert(0, "subject", test_subject_df)

In [6]:
# check data frame
x_train_df.head()

,subject,0,1,2,3,4,5,6,7,8,...,551,552,553,554,555,556,557,558,559,560
0,1,0.288585,-0.020294,-0.132905,-0.995279,-0.983111,-0.913526,-0.995112,-0.983185,-0.923527,...,-0.074323,-0.298676,-0.710304,-0.112754,0.030400,-0.464761,-0.018446,-0.841247,0.179941,-0.058627
1,1,0.278419,-0.016411,-0.123520,-0.998245,-0.975300,-0.960322,-0.998807,-0.974914,-0.957686,...,0.158075,-0.595051,-0.861499,0.053477,-0.007435,-0.732626,0.703511,-0.844788,0.180289,-0.054317
2,1,0.279653,-0.019467,-0.113462,-0.995380,-0.967187,-0.978944,-0.996520,-0.963668,-0.977469,...,0.414503,-0.390748,-0.760104,-0.118559,0.177899,0.100699,0.808529,-0.848933,0.180637,-0.049118
3,1,0.279174,-0.026201,-0.123283,-0.996091,-0.983403,-0.990675,-0.997099,-0.982750,-0.989302,...,0.404573,-0.117290,-0.482845,-0.036788,-0.012892,0.640011,-0.485366,-0.848649,0.181935,-0.047663
4,1,0.276629,-0.016570,-0.115362,-0.998139,-0.980817,-0.990482,-0.998321,-0.979672,-0.990441,...,0.087753,-0.351471,-0.699205,0.123320,0.122542,0.693578,-0.615971,-0.847865,0.185151,-0.043892

In [7]:
x_train_df.describe()

,subject,0,1,2,3,4,5,6,7,8,...,551,552,553,554,555,556,557,558,559,560
count,7352.000000,7352.000000,7352.000000,7352.000000,7352.000000,7352.000000,7352.000000,7352.000000,7352.000000,7352.000000,...,7352.000000,7352.000000,7352.000000,7352.000000,7352.000000,7352.000000,7352.000000,7352.000000,7352.000000,7352.000000
mean,17.413085,0.274488,-0.017695,-0.109141,-0.605438,-0.510938,-0.604754,-0.630512,-0.526907,-0.606150,...,0.125293,-0.307009,-0.625294,0.008684,0.002186,0.008726,-0.005981,-0.489547,0.058593,-0.056515
std,8.975143,0.070261,0.040811,0.056635,0.448734,0.502645,0.418687,0.424073,0.485942,0.414122,...,0.250994,0.321011,0.307584,0.336787,0.448306,0.608303,0.477975,0.511807,0.297480,0.279122
min,1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-0.999873,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.000000,-0.995357,-0.999765,-0.976580,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,8.000000,0.262975,-0.024863,-0.120993,-0.992754,-0.978129,-0.980233,-0.993591,-0.978162,-0.980251,...,-0.023692,-0.542602,-0.845573,-0.121527,-0.289549,-0.482273,-0.376341,-0.812065,-0.017885,-0.143414
50%,19.000000,0.277193,-0.017219,-0.108676,-0.946196,-0.851897,-0.859365,-0.950709,-0.857328,-0.857143,...,0.134000,-0.343685,-0.711692,0.009509,0.008943,0.008735,-0.000368,-0.709417,0.182071,0.003181
75%,26.000000,0.288461,-0.010783,-0.097794,-0.242813,-0.034231,-0.262415,-0.292680,-0.066701,-0.265671,...,0.289096,-0.126979,-0.503878,0.150865,0.292861,0.506187,0.359368,-0.509079,0.248353,0.107659
max,30.000000,1.000000,1.000000,1.000000,1.000000,0.916238,1.000000,1.000000,0.967664,1.000000,...,0.946700,0.989538,0.956845,1.000000,1.000000,0.998702,0.996078,1.000000,0.478157,1.000000

In [8]:
y_train_df.describe()

                 0
count  7352.000000
mean      3.643362
std       1.744802
min       1.000000
25%       2.000000
50%       4.000000
75%       5.000000
max       6.000000